.authentication__header {
  color: white;
  text-align: center;
}

.authentication {
  margin:auto;
  position:relative;
  width: 100%;
  max-width: 25rem;
}
.authentication form {
  margin-bottom: 0.5rem;
}

.background {
  margin-top: 0.5rem;
}

.inputs {
  width: 60%;
  text-align: center;
  align-items: center;
  margin: 0.2rem;
}
.button {
  display: block;
  align-items: center;
  margin: 0.2rem;
}